[submodule "paru"]
	path = paru
	url = https://aur.archlinux.org/paru
[submodule "python-git"]
	path = python-git
	url = https://aur.archlinux.org/python-git
[submodule "python-streamlit-webrtc"]
	path = python-streamlit-webrtc
	url = https://aur.archlinux.org/python-streamlit-webrtc.git
