[submodule "paru"]
	path = paru
	url = https://aur.archlinux.org/paru
[submodule "python-git"]
	path = python-git
	url = https://aur.archlinux.org/python-git
[submodule "python-streamlit-webrtc"]
	path = python-streamlit-webrtc
	url = https://aur.archlinux.org/python-streamlit-webrtc.git
[submodule "xorg-server-git"]
	path = xorg-server-git
	url = https://aur.archlinux.org/xorg-server-git.git
[submodule "aurutils"]
	path = aurutils
	url = https://aur.archlinux.org/aurutils.git
[submodule "podman-tui"]
	path = podman-tui
	url = https://aur.archlinux.org/podman-tui.git
[submodule "x11docker"]
	path = x11docker
	url = https://aur.archlinux.org/x11docker.git
[submodule "python311"]
	path = python311
	url = https://aur.archlinux.org/python311.git
[submodule "zfs-linux-zen"]
	path = zfs-linux-zen
	url = https://aur.archlinux.org/zfs-linux-zen.git
[submodule "zfs-linux-hardened"]
	path = zfs-linux-hardened
	url = https://aur.archlinux.org/zfs-linux-hardened.git
