[submodule "paru"]
	path = paru
	url = https://aur.archlinux.org/paru
[submodule "python-git"]
	path = python-git
	url = https://aur.archlinux.org/python-git
[submodule "python-streamlit-webrtc"]
	path = python-streamlit-webrtc
	url = https://aur.archlinux.org/python-streamlit-webrtc.git
[submodule "xorg-server-git"]
	path = xorg-server-git
	url = https://aur.archlinux.org/xorg-server-git.git
[submodule "aurutils"]
	path = aurutils
	url = https://aur.archlinux.org/aurutils.git
[submodule "podman-tui"]
	path = podman-tui
	url = https://aur.archlinux.org/podman-tui.git
